$white: #ffffff;
$red: red;
$dark: black;
$gray: #535353;
$green: #28c840;
$yellow: #febc2e;
$red: #ff5f57;
$lightGray: #646464;
$lightestGray: #7d7d7d;
$orange: #ff9f0a;
$btnActive: rgb(230, 101, 16);
