
$white: #FFFFFF;
$red: red;
$dark: black;
$gray: #535353;
$green: #28C840;
$yellow: #FEBC2E;
$red: #FF5F57;
$lightGray: #646464;
$lightestGray: #7D7D7D;
$orange: #FF9F0A;
 $btnActive: rgb(230, 101, 16);